body {
    font-family: 'Jaldi', sans-serif;
    font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo Paaji', cursive;
}


.my-nobreak{
    overflow: hidden; /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Deprecated Firefox */
    -moz-column-break-inside:avoid; /* Current Firefox */
    column-break-inside:avoid;
    break-inside: avoid; /* IE 10+ */
    break-inside: avoid-column;
}

.my-multicol-2 {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
}

.my-multicol-3 {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
}

.my-multicol-4 {
    -moz-columns: 4;
    -webkit-columns: 4;
    columns: 4;
}

.my-multicol-5 {
    -moz-columns: 5;
    -webkit-columns: 5;
    columns: 5;
}

.my-multicol-6 {
    -moz-columns: 6;
    -webkit-columns: 6;
    columns: 6;
}

.flabel {
    display: inline-block;
    float: left;
    padding: 0 10px;
    margin-right: 6px;
    margin-bottom: 6px;
    border: 1px solid #d7d7d7;
    font: 13px/28px Universcom57Condensed, Arial, Helvetica, sans-serif;
    font-family: Universcom57Condensed, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s ease-out;
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.flabel:hover {
    border: 1px solid #d52349;
}

.glyphicon-remove:hover,
.fa-close:hover {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}



.pin-card {
    width: 100%;
    background-color: #fefefe;
    border-radius: 5px;
    border: 1px solid #efefef;
    margin: 10px 0;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    padding: 5.75em 4.75em;
    font-size: 12pt;
}

.pin-card h3 {
    margin-bottom: 2em;
}

.pin-card .btn {
    margin-top: 1em;
}

label {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}


article p {
    line-height: 1.5em;
    margin-bottom: 2em;
}

footer {
    /* Set the fixed height of the footer here */
    color: #fff;
}

.myheader {
    background: url("/images/photo-1451187580459-43490279c0fa.jpg") no-repeat;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #efefef;
    padding: 3em 0em;
    margin-bottom: 2em;
    overflow-x: hidden;
}

.myhighlight {
    color: #d52349;
}

article{
    counter-reset: figures;
}

figure{
    counter-increment: figures;
}

figcaption{
    margin-bottom: 1em;
    color: #545454;
    text-align: center;
}
figcaption:before{
    content: 'Fig.' counter(figures) ': ';
}
figure img{
    max-width: 100%;
}
